<ion-header>
  <ion-toolbar>
    <ion-title>recipe-list</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-container">
    <div *ngFor="let recipe of recipes">
      <ion-card class="recipe-card" (click)="goToRecipeDetail(recipe.id)">
        recipe: {{ recipe.name }} cooking time:
        {{ recipe.cookingTime }} ingredients: {{ recipe.ingredients }}
        <img
          class="recipe-image"
          src="{{ recipe.imageUrl }}"
          alt="recipe image"
        />
      </ion-card>
    </div>
  </div>
</ion-content>
