<ion-content>
  <div class="main-container">
    <label for="coverImageInput" (click)="resetInput('coverImage')"
      ><img id="coverImage" class="cover-image" alt="cover image" />
    </label>

    <input
      class="input"
      type="file"
      id="coverImageInput"
      (change)="selectImage($event, 'cover')"
    />

    <label for="userImage" (click)="resetInput('userImage')"
      ><img id="profileImage" class="profile-image" alt="profile image"
    /></label>

    <input
      class="input"
      type="file"
      id="userImage"
      (change)="selectImage($event, 'profile')"
    />

    <ion-card class="profile-info-container">
      <div class="profile-info">
        <ion-card-header>
          <ion-card-subtitle>{{ user.rank }}</ion-card-subtitle>
          <form [formGroup]="profileForm">
            <ion-input
              formControlName="username"
              type="text"
              placeholder="{{ user.username }}"
            ></ion-input>
            <ion-textarea
              formControlName="description"
              placeholder="{{
                user.description
                  ? user.description
                  : 'Type your description here..'
              }}"
            ></ion-textarea>
          </form>
        </ion-card-header></div
    ></ion-card>
  </div>

  <ion-button (click)="saveChanges()">Save</ion-button>
</ion-content>
