<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

  <img src="{{ user?.profileImageUrl }}" alt="profile image">
  <div>
    passed info is : {{ passedInfo }}
  </div>
  <label for="userImage" (click)="resetInput('userImage')"
    >Add a profile photo</label
  >
  <input type="file" id="userImage" (change)="selectFile($event)" />

  <label for="coverImage" (click)="resetInput('coverImage')"
    >add a cover photo</label
  >
  <input type="file" id="coverImage" (change)="selectFile($event)" />

  <ion-button [disabled]="!imageToSave" (click)="saveCoverImage()"
    >Save cover Image</ion-button
  >
  <ion-button [disabled]="!imageToSave" (click)="saveProfileImage()"
    >Save profile Image</ion-button
  >

  <ion-button color="primary" (click)="goToRecipeCreate()">create</ion-button>
  <ion-button color="primary" (click)="goToRecipeList()">list</ion-button>
  <ion-button color="danger" (click)="closeModal()">Close</ion-button>
</ion-content> -->

<!-- <ion-content>

    <img src="{{ user?.profileImageUrl }}" alt="profile image">
    <div>
      passed info is : {{ passedInfo }}
    </div>
    <label for="userImage" (click)="resetInput('userImage')"
      >Add a profile photo</label
    >
    <input type="file" id="userImage" (change)="selectFile($event)" />
  
    <label for="coverImage" (click)="resetInput('coverImage')"
      >add a cover photo</label
    >
    <input type="file" id="coverImage" (change)="selectFile($event)" />
  
    <ion-button [disabled]="!imageToSave" (click)="saveCoverImage()"
      >Save cover Image</ion-button
    >
    <ion-button [disabled]="!imageToSave" (click)="saveProfileImage()"
      >Save profile Image</ion-button
    >
  
    <ion-button color="primary" (click)="goToRecipeCreate()">create</ion-button>
    <ion-button color="primary" (click)="goToRecipeList()">list</ion-button>
    <ion-button color="danger" (click)="closeModal()">Close</ion-button>
  </ion-content> -->

<ion-content>
  <div class="main-container">
    <label for="coverImageInput" (click)="resetInput('coverImage')"
      ><img id="coverImage" class="cover-image" alt="cover image" />
    </label>

    <input
      class="input"
      type="file"
      id="coverImageInput"
      (change)="selectImage($event, 'cover')"
    />

    <label for="userImage" (click)="resetInput('userImage')"
      ><img id="profileImage" class="profile-image" alt="profile image"
    /></label>

    <input
      class="input"
      type="file"
      id="userImage"
      (change)="selectImage($event, 'profile')"
    />

    <ion-card class="profile-info-container">
      <div class="profile-info">
        <ion-card-header>
          <ion-card-subtitle>{{ user.rank }}</ion-card-subtitle>
          <form [formGroup]="profileForm">
            <ion-input
            formControlName="username"
              type="text"
              placeholder="{{ user.username }}"
            ></ion-input>
            <ion-textarea
            formControlName="description"
              placeholder="{{
                user.description
                  ? user.description
                  : 'Type your description here..'
              }}"
            ></ion-textarea>
          </form>
        </ion-card-header>

        <ion-card-content> </ion-card-content></div
    ></ion-card>
  </div>

  <ion-button (click)="saveChanges()">Save</ion-button>
</ion-content>
