.card-container {
	margin: 0 -15px;
}

ion-card img {
	height: 150px;
	object-fit: cover;
}

ion-card-content {
	height: 130px;
}

ion-card-subtitle {
	opacity: 0;
}

ion-card:hover {
	cursor: pointer;
	.subtitle {
		opacity: 1;
  }
  .reduce {
    height: 120px;
    object-fit: cover;
    opacity: 0.6;
  }
}

.capitalize {
	text-transform: capitalize;
}

.reduce, .subtitle {
	transition: all 0.2s ease-in-out;
}
