.card-container {
  margin: 0 -15px;
}

ion-card img {
  height: 150px;
  object-fit: cover;
}

ion-card img:hover {
  height: 120px;
  object-fit: cover;
  opacity: 0.6;
  ion-card-subtitle {
    opacity: 1;
  }
}

ion-card-content {
  height: 130px;
}

ion-card-subtitle {
  opacity: 0;
}

ion-card:hover {
  cursor: pointer;
  img {
    height: 120px;
    object-fit: cover;
    opacity: 0.6;
  }
  ion-card-subtitle {
    opacity: 1;
  }
}




/* .recipeImage {
  img {
    height: 200px;
    object-fit: cover;
  }
}

.recipeImage:hover {
  cursor: pointer;
  opacity: 0.6;
}
 */