<!-- <ion-content>
  <label for="userImage" (click)="resetInput('userImage')">Add a profile photo</label>
  <input type="file" id="userImage" (change)="selectFile($event)" />

  <label for="coverImage" (click)="resetInput('coverImage')" >add a cover photo</label>
  <input type="file" id="coverImage" (change)="selectFile($event)" >

  <ion-button [disabled]="!imageToSave" (click)="saveCoverImage()">Save cover Image</ion-button>
  <ion-button [disabled]="!imageToSave" (click)="saveProfileImage()">Save profile Image</ion-button>

</ion-content> -->

<ion-content>
  <div class="profile-container">
    <div class="cover-image">
      <img src="{{ user?.coverImageUrl }}" alt="cover image" />
    </div>
    <div class="profile-image">
      <img src="{{ user?.profileImageUrl }}" alt="profile image" />
    </div>

    <ion-card class="profile-info-container">
      <div class="profile-info">
        <ion-card-header>
          <ion-card-subtitle>Recipe Master</ion-card-subtitle>
          <ion-card-title>Buttpie and Tornado</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </div>
    </ion-card>

    <ion-button class="edit-button" color="secondary" fill="outline">
      Edit
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </div>

  <ion-grid class="menu">
    <ion-row no-padding>
      <ion-col>
        <ion-button color="light" expand="full">Saved Recipes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" expand="full">Collections</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" expand="full">My Recipes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" expand="full">Overview</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


