<!-- <ion-card-content scrollX="true" direction="x" no-padding>
  <ion-card
    *ngFor="let recipe of myRecipes"
    class="recipe-card"
    [routerLink]="'/recipe-detail/' + recipe.id"
    routerDirection="forward"
  >
    <img class="recipe-image" src="{{ recipe.imageUrl }}" alt="recipe image" />
    <div class="recipe-name">{{ recipe.name }}</div>
  </ion-card>
</ion-card-content>
 -->

<ion-slides #slides [options]="slideOpts">
  <ion-slide
    *ngFor="let recipe of myRecipes"
    [routerLink]="'/recipe-detail/' + recipe.id"
    routerDirection="forward"
  >
    <div class="slide-content">
      <img src="{{ recipe.imageUrl }}" alt="recipe image" />
      <div>{{ recipe.name }}</div>
    </div>
  </ion-slide>
</ion-slides>
<button
  type="submit"
  float-left
  ion-button
  color="primary"
  class="btnPrev"
  (click)="prev()"
>
  Prev
</button>
<button
  type="submit"
  float-right
  ion-button
  color="primary"
  class="btnNext"
  (click)="next()"
>
  Next
</button>
