<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-header *ngIf="showHeader"></app-header>
  <div class="main-container">
    <ion-slides  #slides [options]="slideOpts"  autoplayDisableOnInteraction="false">
      <ion-slide *ngFor="let recipe of allRecipes">
        <img
          src="{{ recipe.imageUrl }}"
          alt="recipe image"
          [routerLink]="'/recipe-detail/' + recipe.id"
          routerDirection="forward"
        />
      </ion-slide>
    </ion-slides>

    
    <div>
      <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="openDropdown($event)">
          Recipes
        </ion-button>
        <ion-searchbar (keyup)="searchRecipes($event)" (ionChange)="cancelSearch($event)"></ion-searchbar>
      </ion-buttons>
    </ion-toolbar>
    </div>

    <ion-list *ngIf="showMenu" class="fadeIn dropdown-list">
      <ion-item>
        <ion-label (click)="filterRecipes('vegetarian')">Vegetarian</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="filterRecipes('beef')">Beef</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="filterRecipes('chicken')">Chicken</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="filterRecipes('desserts')">Desserts</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="filterRecipes('breakfast')">Breakfast</ion-label>
      </ion-item>
      <ion-item>
          <ion-label (click)="filterRecipes('all')">All recipes</ion-label>
        </ion-item>
    </ion-list>

    <app-recipe-scroll-down [recipes]="displayRecipes"> </app-recipe-scroll-down>
  </div>
</ion-content>
