ion-slide:hover {
  cursor: pointer;
}

ion-slide {
  height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}

.swiper-zoom-container img {
  object-fit: cover;
}

ion-searchbar {
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

.card-container {
  margin: 0 -15px;
}

ion-card img {
  height: 200px;
  object-fit: cover;
}

.fadeIn {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown-list {
  position: absolute;
  z-index: 9;
}

.hidden {
  display: none;
}

header {
  /* visibility: hidden; */
  /* position: fixed;
  top: 0; */
  position: fixed;
  width: calc(70% - 16px);
  margin-left: 15%;
}