<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-slides #slides [options]="slideOpts">
    <ion-slide *ngFor="let recipe of allRecipes">
      <div class="slide-content">
        <img
          src="{{ recipe.imageUrl }}"
          alt="recipe image"
          [routerLink]="'/recipe-detail/' + recipe.id"
          routerDirection="forward"
        />
        <div>{{ recipe.name }}</div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>


  <ion-card style="display: inline-block;" *ngFor="let recipe of allRecipes">
    <ion-card-content>
      <img
        src="{{ recipe.imageUrl }}"
        alt="recipe image"
        [routerLink]="'/recipe-detail/' + recipe.id"
        routerDirection="forward"
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Dinner</ion-card-subtitle>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
