<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <header [ngClass]="{'hidden': hideHeader}"></header>
  <div class="main-container">
    <img
      class="cover-image"
      src="{{ user?.coverImageUrl }}"
      alt="cover image"
    />
    <img
      class="profile-image"
      src="{{ user?.profileImageUrl }}"
      alt="profile image"
    />

    <ion-card class="profile-info-container">
      <div class="profile-info">
        <ion-card-header>
          <ion-card-subtitle>{{ user?.rank }}</ion-card-subtitle>
          <ion-card-title>{{ user?.username }}</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="user?.description">
          {{ user.description }}
        </ion-card-content>

        <ion-button
          (click)="openModal()"
          class="edit-button"
          color="secondary"
          fill="outline"
        >
          Edit
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </div>
    </ion-card>

    <ion-grid no-padding class="menu">
      <ion-row>
        <ion-col size-xs="12" size-sm="6" size-lg="3">
          <ion-button
            [ngClass]="{ active: segment == 'savedRecipes' }"
            expand="full"
            (click)="changeSegment('savedRecipes')"
            >Saved Recipes</ion-button
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-lg="3">
          <ion-button
            [ngClass]="{ active: segment == 'collections' }"
            expand="full"
            (click)="changeSegment('collections')"
            >Collections</ion-button
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-lg="3">
          <ion-button
            [ngClass]="{ active: segment == 'myRecipes' }"
            expand="full"
            (click)="changeSegment('myRecipes')"
            >My Recipes</ion-button
          >
        </ion-col>
        <ion-col size-xs="12" size-sm="6" size-lg="3">
          <ion-button
            [ngClass]="{ active: segment === 'overview', normal: segment !== 'overview' }"
            expand="full"
            (click)="changeSegment('overview')"
            >Overview</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="3" size-lg="3">
          <ion-button
            expand="block"
            *ngIf="segment === 'myRecipes'"
            color="medium"
            (click)="goToRecipeCreate()"
          >
            <div>
              <ion-icon name="add-circle"></ion-icon>
              <label>Add a recipe</label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="9" size-lg="9">
          <ion-searchbar
            *ngIf="segment === 'myRecipes'"
            (keyup)="searchRecipes($event)"
            (ionChange)="cancelSearch($event)"
          ></ion-searchbar>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-lg="12">
          <ion-searchbar
            *ngIf="segment === 'savedRecipes'"
            (keyup)="searchRecipes($event)"
            (ionChange)="cancelSearch($event)"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <recipe-list *ngIf="segment === 'myRecipes'"
      [recipes]="myRecipes"
    >
    </recipe-list>

    <recipe-list
      *ngIf="segment === 'savedRecipes'"
      [recipes]="allRecipes"
    >
    </recipe-list>

    <slide
      *ngIf="segment === 'overview'"
      [recipes]="allRecipes"
      [recipeListName]="'All Recipes'"
    ></slide>

    <slide
      *ngIf="segment === 'overview'"
      [recipes]="myRecipes"
      [recipeListName]="'My Recipes'"
    ></slide>
  </div>
</ion-content>
