.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profile-image {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: -300px;
  margin-left: calc(50% - 100px);
  z-index: 4;
  border-radius: 50%;
}

.profile-info-container {
  position: relative;
  height: 240px;
  width: 80%;
  margin-top: -100px;
  margin-left: calc(10%);
  margin-right: calc(10%);
  z-index: 2;
  background-color: white;
  box-shadow: 2px 2px 8px #888888;
}

.profile-info {
  text-align: center;
  padding-top: 110px;
}

.edit-button {
  position: absolute;
  top: 2px;
  left: calc(100% - 99px);
  z-index: 8;
}

.menu {
  position: relative;
  z-index: 6;
  width: 81%;
}

.active {
  color: #fff;
  border: solid olive 2px;
  --background-hover: olive !important;
  --background: olive !important;
}

.normal {
  color: #fff;
  border: solid olive 2px;
  --background-hover: pink !important;
  --background: purple !important;
}
