<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label for="userImage" (click)="resetInput('userImage')">Add a profile photo</label>
  <input type="file" id="userImage" (change)="selectFile($event)" />

  <label for="coverImage" (click)="resetInput('coverImage')" >add a cover photo</label>
  <input type="file" id="coverImage" (change)="selectFile($event)" >

  <ion-button [disabled]="!imageToSave" (click)="saveCoverImage()">Save cover Image</ion-button>
  <ion-button [disabled]="!imageToSave" (click)="saveProfileImage()">Save profile Image</ion-button>

  <ion-button color="primary" (click)="goToRecipeCreate()">create</ion-button>
  <ion-button color="primary" (click)="goToRecipeList()">list</ion-button>

  <div class="img-container">
    <img src="{{user?.profileImageUrl}}" alt="profile image">
  </div>

  <div class="img-container">
    <img src="{{user?.coverImageUrl}}" alt="cover image">
  </div>

</ion-content>