.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  img {
    min-width: 100%;
    max-height: 450px;
  }
}

.profile-image {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: 270px;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  img {
    border-radius: 50%;
    height: 200px;
    width: 100%;
  }
}

.profile-info-container {
  position: relative;
  height: 280px;
  width: 60%;
  margin-top: -100px;
  margin-left: calc(20%);
  margin-right: calc(20%);
  z-index: 2;
  background-color: white;
  box-shadow: 2px 2px 8px #888888;
}

.profile-info {
  text-align: center;
  padding-top: 12%;
}

.edit-button {
  position: absolute;
  top: 2px;
  left: calc(100% - 99px);
  z-index: 8;
}

.menu {
  position: relative;
  z-index: 6;
  width: 61%;
}









