<!-- <div>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="userSignOut()">
        <ion-icon
          slot="icon-only"
          (click)="userSignOut()"
          name="contact"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hello {{ user ? user.username : "signIn" }} !</ion-title>
  </ion-toolbar>
</div> -->

<div>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="toUserPage()" *ngIf="user; else noUser">
        <div>Hello {{ user.username }}</div>
      </ion-button>
      <ion-button (click)="logOut()" *ngIf="user">
        Log Out
        <ion-icon name="contact"></ion-icon>
      </ion-button>
      <ng-template #noUser>
        <ion-button (click)="toSignUp()">
          Create an account
        </ion-button>
        <ion-button (click)="toLogIn()">
          Log In
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
    <ion-title>Meal Time</ion-title>
  </ion-toolbar>
</div>
