<div class="card-container">
  <ion-grid no-padding>
    <ion-row>
      <ion-col *ngFor="let recipe of recipes" size="12">
        <ion-card>
          <ion-card-content>
            <img
              src="{{ recipe.imageUrl }}"
              alt="recipe image"
              [routerLink]="'/recipe-detail/' + recipe.id"
              routerDirection="forward"
              class="reduce"
            />
          </ion-card-content>
          <ion-card-header class="capitalize">
            <ion-card-subtitle class="subtitle">{{ recipe.category }}</ion-card-subtitle>
            <ion-card-title>{{ recipe.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
