
  <h1 class="recipeSlideTitle"> {{ recipeListName}} </h1>
  <ion-slides #slides [options]="slideOpts">
    <ion-slide *ngFor="let recipe of recipes">
      <div class="slide-content">
        <img
          src="{{ recipe.imageUrl }}"
          alt="recipe image"
          [routerLink]="'/recipe-detail/' + recipe.id"
          routerDirection="forward"
        />
        <div>{{ recipe.name }}</div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-icon
  *ngIf="scroll"
    ios="ios-arrow-dropleft-circle"
    md="md-arrow-dropleft-circle"
    type="submit"
    float-left
    color="primary"
    class="btnPrev"
    (click)="prev()"
    size="large"
  ></ion-icon>

  <ion-icon
  *ngIf="scroll"
    ios="ios-arrow-dropright-circle"
    md="md-arrow-dropright-circle"
    float-right
    color="primary"
    class="btnNext"
    (click)="next()"
    size="large"
  ></ion-icon>


  <ion-icon
  ios="ios-arrow-dropright-circle"
  md="md-arrow-dropright-circle"
  float-right
  color="primary"
  (click)="scrolling()"
  size="small"
></ion-icon>